<div class="container bs-docs-container">

<!-- Docs nav
    ================================================== -->
	<div class="row">
	  <div class="col-md-3" role="complementary">
		<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
		  <ul id="menu" class="nav bs-docs-sidenav">
			  <li>
				<a href="#info"><i class="glyphicon glyphicon-chevron-right"></i>Information</a>
			  </li>
			  <li>
				<a href="#license"><i class="glyphicon glyphicon-chevron-right"></i>License</a>
			  </li>
		  </ul>
		</div>
	  </div>	  
      <div class="col-md-9" role="main">
	  
	  <!-- Info
        ================================================== --> 
	    <div class="bs-docs-section">
			<h1 id="info" class="page-header">Information</h1>
			<p><strong>Client-side spatial analysis of radiological data using turf.js (Buffer, Intersections, Interpolation, Voronoi, TIN).</strong><br> <em>Our goal was: </em> to develop a web map where it is possible to edit a vector datas with turf.js. This webmap is available for everybody to use it for free. Our licence is MIT License. We used for the project <em>OpenLayers3, turf.js, JavaScript, HTML, CSS, QGIS</em>.</p>
		</div>
		<!-- Users'Manual
        ================================================== -->
        <div class="bs-docs-section">
			 
		</div>
	 
	    <!-- Licence
        ================================================== -->
        <div class="bs-docs-section">
			<h1 id="license" class="page-header">License</h1>
			<p>Our licence is MIT License.  This is a simple type whose conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed under different terms and without source code.</p>
			  <img src="img/License.png" alt="License" height="200"/>
			  <p>More information about license: <a href="http://choosealicense.com/licenses/mit/">http://choosealicense.com/licenses/mit/</a>  
			</p>
		</div>
	  </div><!--.col-md-9-->
    </div><!--row-->
  </div><!--.container bs-docs-container-->
	
<hr class="featurette-divider">
<!-- FOOTER -->
      <footer>
  
		<p><a title="Logo HS-Karlsruhe" href="https://www.hs-karlsruhe.de/home.html"> 
        <img src='img/hska_logo_RGB_small.jpg' alt="Logo HS-Karlsruhe" ></a>
        &middot;    &copy; 2016 Keep Hacking, OPEN SOURCE GIS 2016-2017 </p>       
		
      </footer>