
<div style="margin-top: 80px"></div>
<!--  jumbotron  -->
<div class="container">
  <div class="jumbotron">
	<h1>Keep Hacking</h1>
	<p >We are a group of Geomatics Student’s, we have been involved with GIS since 2016 and our experiences include all aspects of GIS from user needs analysis and application development to providing training and implementation services. His current functions include developing new partnerships to expand services and training.
	</p><p>We act as a full service GIS Company with internal expertise and by partnerships that have been formed with some of the most experienced and capable trainers, application developers and service providers. GIS Services provides GIS and imagery-related software, and custom-tailored software/hardware combinations for mobile data technology.
	</p>
  </div>
  <p>Address : Außenstelle HO, Raum 203  Hoffstraße 3 ,76133 Karlsruhe</p>
</div>

<hr class="featurette-divider"/>
	
<!--  CONTACT US  -->
    <div class="container marketing">
	  <h1>Contact us:</h1>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="img/contact_01.png" alt="Emese Decsi image" width="140" height="140">
          <h2>Emese Decsi</h2>
		  <h3>Frontend developer & Project manager</h3>
		  <h4>Geographer</h4>
          <p>Master student in Geomatics. Web programming and design.  I learn now PHP, Java, Javascript and design. I would like to improve my skills.
		  <br>Gibhub Account : <a href="https://github.com/decsiemese">https://github.com/decsiemese</a></p>
        </div><!-- /.col-lg-4 -->
		
        <div class="col-lg-4">
          <img class="img-circle" src="img/contact_02.png" alt="Ali Gadein image" width="140" height="140">
          <h2>Ali Gadein</h2>
		  <h3>Geospatial modeller & Backend Developer</h3>
		  <h4>Surveyor and Geospatial analyst</h4>
          <p>Master student in Geomatics. With exceperince in survey Engineering & Geospatial technologies. I’m Interested in WebGIS & providing Geospatial solutions.
				<br>Gibhub Account : <a href="https://github.com/AliGadein">https://github.com/AliGadein</a></p>
        </div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
          <img class="img-circle" src="img/contact_03.png" alt="MªCristina Gómez Peribáñez image" width="140" height="140">
          <h2>Mª Cristina Gómez Peribáñez</h2>
		  <h3>Frontend & Web developer </h3>
		  <h4>Geomatic and Surveying Engineering </h4>
          <p>Master student in Geomatics. My experience is about generation mapping services and update geocoding  databases.
				<br>Gibhub Account : <a href="https://github.com/magmepe1">https://github.com/magmepe1</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
	  <br>
	  <br>
	  <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="img/contact_04.png" alt="Dániel Kemény image" width="140" height="140">
		  <h2>Dániel Kemény</h2>
		  <h3>Backend & frontend developer</h3>
		  <h4>Geographer</h4>
          <p>Master student in Geomatics. With an interest in web technologies and webdesign. I am a freelance website developer in my free time.
				<br>Gibhub Account : <a href="https://github.com/kemenydani">https://github.com/kemenydani</a></p>
        </div><!-- /.col-lg-4 -->
		
        <div class="col-lg-4">
          <img class="img-circle" src="img/contact_05.png" alt="Adriana Yepes image" height="140">
          <h2>Adriana Yepes</h2>
		  <h3>Designer & Web developer</h3>
		  <h4>Cadastral Engineer and Geodesy </h4>
          <p>Master student in Geomatics. My experience is about structuring geographic databases and application of geographical information systems.
				<br>Gibhub Account : <a href="https://github.com/AdrianaYepes">https://github.com/AdrianaYepes</a></p>
        </div><!-- /.col-lg-4 -->
	  </div><!-- /.row -->
	</div>
<hr class="featurette-divider">

<!-- FOOTER -->
<footer>

	<p><a title="Logo HS-Karlsruhe" href="https://www.hs-karlsruhe.de/home.html"> 
		<img src='img/hska_logo_RGB_small.jpg' alt="Logo HS-Karlsruhe" ></a>
	&middot;    &copy; 2016 Keep Hacking, OPEN SOURCE GIS 2016-2017 </p>
</footer>