<div class="layerSwitcher">
    
    <div class="tool-grab">
	<div class="title">Layer switcher</div>
    
	<div class="minimizer"><i class="fa fa-window-minimize" aria-hidden="true"></i></div>
    </div>

    <ol style="margin-top: 0px;" class="sortable" id="layer_tree">
	
    </ol>

</div>

<div id="layer_settings" style="display: none;">

    <div class="form-field form-group">

	<label for="voronoi_layer_style">Style</label>
	<div class="form-inline well well-sm" style="">
	    <div class="form-group col-lg-3"  style="margin-top: 2px;">
		<b>Fill:</b> <input id="layer_style_fill" name="layer_style_fill" type="text" class="form-control" placeholder="">
	    </div>
	    <div class="form-group col-lg-5" style="margin-top: 2px;">
		<b>Outline:</b> <input  id="layer_style_outline" name="layer_style_outline" type="text" class="form-control" placeholder="">
	    </div>
	     <div class="form-group pull-right">
		<b>Outline width:</b> <input id="layer_style_outline_width" name="layer_style_outline_width" value="1" style="width: 60px;" type="number" class="form-control" placeholder="">
	    </div>
	    <div class="clearfix"></div>
	</div>

    </div>

</div>
