<div id="gisToolbox" class="gisToolbox" class="panel panel-default" style="padding: 0px !important;">

    <div class="tool-grab">
	<div class="minimizer"><i class="fa fa-window-minimize" aria-hidden="true"></i></div>
    </div>
    
	<div class="toolWrapper">

	    <tool-buffer id="toolBuffer">Buffer Geometry</tool-buffer>
	  
	    <tool-union id="toolUnion">Dissolve Polygons</tool-union>

	    <tool-within id="toolWithin">Point within Polygon</tool-within>

	    <tool-nearest id="toolNearest">Nearest Point</tool-nearest>

	    <tool-voronoi id="toolVoronoi">Voronoi Polygons</tool-voronoi>

	</div>

</div>