<style>
    #app_page_header  {
	background-color: #0275d8;
	z-index: 5;
	color: white;
	border-bottom: 1px solid #006dcb;
	height: 65px;
	line-height: 65px;
	-webkit-box-shadow: 0px 9px 29px -10px rgba(0,0,0,0.77);
-moz-box-shadow: 0px 9px 29px -10px rgba(0,0,0,0.77);
box-shadow: 0px 9px 29px -10px rgba(0,0,0,0.77);
    }    
    
    #app_page_header .navbar-brand {
	height: 65px;
	line-height: 65px;
	padding-top: 0px;
	padding-bottom: 0px;
    }
    #app_page_header a {
	height: 65px;
	line-height: 65px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
    }
    #app_page_header li a {
	border-left: 1px solid #005196;
    }
</style>
<nav id="app_page_header" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#" ><b>Client-side spatial analyser</b></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav navbar-right">

		<li><a href="home">Home</a></li>
		<li><a href="about">About</a></li>

	    </ul>
	</div><!--/.nav-collapse -->
    </div>
</nav>
